.DS_Store
.idea
apprunner-*.coffee
config.coffee
.dbconf.coffee
.googan.coffee
node_modules/
static/coffee/
logs/
data/static/data/cached/
data/imports/temp/
aiddata.sublime-project
aiddata.sublime-workspace
