#loading .blockUI { 
  position:absolute; top:0; left:0; right:0; bottom:0; background-color:white; 
  opacity:0; z-index:99;
  text-align: center;
  vertical-align: middle;
}

#loading img { position: absolute; top:50px; left:10px;  }

#content { display:none; }
#status { font-size:9pt; margin-bottom:0;}
#status .filter { font-size:8pt;}
#outerTop { margin-top:1em;}
#error, #warn, #status { display:none; }
#error { margin:0 0 0 2em; vertical-align: middle;}
button.close { border:none; background:none; padding: 0;}

#backForwardBtns { white-space:nowrap; }

#outerTop .hdr { text-align:left; font-weight: bold; padding-left:2px; padding-bottom:2px;}
#outerTop .fltr  { text-align:left;  }

button.reset { font-size:9pt; }
.ctls td { text-align: center; vertical-align: top; padding-top:2px;}
.ctl-hint { font-size:8pt; text-align:left !important; padding-left:7px; color:#999;}

div.btn-group {display:inline-block;}
#outerTop select.filter { margin:2px; width:160px; height:200px; font-size:7pt; }

table.sm-ctls td {vertical-align:middle; margin-top:0; padding-top: 0;}
td.split { width:100px; padding-top:4px; padding-left:50px; }
td.indicatorLabel {  padding-left:10px; }
td.indicator { text-align: left; }
ul.typeahead.dropdown-menu { font-size:11px;}

#indicatorOuter { padding-top:2em; padding-bottom:1em; display:none; }
#indicatorOuter td { vertical-align: middle; }
#indicatorTypeahead { width:400px; height:1.5em; margin:0 0 0 5px; }
#indicatorFor { height: 2em; font-size:11px; margin-left:3px; margin-bottom: 0; width:auto;}

/*.list { font-size:7pt; overflow-y:auto; overflow-x:hidden; height:250px; margin:5px;}*/


.tseries .line { stroke-width:1.3px; opacity:1.0; }
.tseries .dot  { stroke-width:1.3px; opacity:1.0; }


.tseries rect.background {

}


div.btn-group.applied button, button.applied {
  border-color:#f76;
  border-width:1px;
}



.tseries .y.axis line, #tseries .y.axis path {
  stroke:#999;
  stroke-width:0.25;
}

.tseries .x.axis line {
  stroke-width:0.25;
  stroke:#999;
}


#splitPanel div.tseries {
  display:inline-block;
  border:2px solid white; 
}

#splitPanel div.tseries:hover {
  border-color:rgb(176,196,222);  /* lightsteelblue */
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  /*transition:border-color 0.5s linear;*/
}

.tseries line.rule { opacity:.1; }


