#loading { padding-left:.5em; }
#content { display:none; margin-top:1.4em;}
#status { font-size:9pt; margin-bottom:0;}
#status .filter { font-size:8pt;}
#outerTop { }
#error, #warn, #status { display:none; }
button.close { border:none; background:none; padding: 0;}

#outerTop .hdr { text-align:left; font-weight: bold; padding-left:2px; padding-bottom:2px;}
#outerTop .fltr  { text-align:left;  }

button.reset { font-size:9pt; }

#outerTop select { margin:2px; width:150px; height:270px; font-size:7pt; }

/*.list { font-size:7pt; overflow-y:auto; overflow-x:hidden; height:250px; margin:5px;}*/

#error { width:200px; }



.tseries .line { stroke-width:1px; opacity:0.7; }
.tseries .dot  { stroke-width:1px; opacity:0.7; }