#loading { padding-left:.5em; }
#content { display:none; }
#status { font-size:9pt;}
#status .filter { font-size:8pt;}
#outerTop { }

#outerTop .hdr { text-align:left; font-weight: bold; padding-left:2px; padding-bottom:2px;}
#outerTop .fltr  { text-align:left;  }


#outerTop select { margin:2px; width:120px; height:270px; font-size:7pt; }

/*.list { font-size:7pt; overflow-y:auto; overflow-x:hidden; height:250px; margin:5px;}*/

#error { width:200px; }
