#loading { position:absolute; top:50%; left:50%; } 
#loading img { 
  background-color:white; 
  padding:6px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
#blockUI { 
  position:absolute; top:0; left:0; right:0; bottom:0; background-color:white; 
  width:100%; height:100%;
  opacity:0; z-index:99; 
  margin-left: -16px; margin-top: -16px;
  text-align: center;
  vertical-align: middle;
}



#error { display:none;}
#bubblesChart {
text-align:center;
}






#purposeBars {
  display:none;
  
	height: auto;
  position: fixed;
  right:10px;
  margin-top:0;

	background-color:rgb(255,255,255);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 

  border:1px solid #ccc;

  padding:0.5em;

  text-align: right;

  
}


#purposeBars .breadcrumb li.node { }
#purposeBars .breadcrumb li.node.sel {   }
#purposeBars svg {  }
#purposeBars svg text.barLabel {  }




#leftSidebar {
  position: fixed; 
  left:0;
}

.bubbleChart .legend {
  position: fixed;
  right:20px;
  bottom:120px;
}

#timeSlider {
  width:255px;
  margin-left:15px;
}

#tseriesPanel { 
  overflow-y: hidden;
  overflow-x: hidden;
  width:250px;
  padding-right:15px;
  background-color:#fff;
  padding:5px;
  height:auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
}


.tseries .pi_0 .line { }
.tseries .pi_0 .dot  { stroke-width:0.5; }


#yearSliderOuter {
  margin: 0 auto;
  display:none;
  vertical-align: top;
  height:35px;
  background-color:#eee; 
  border:1px solid #ddd;
  padding:15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#yearSliderInner { float:left; height:40px; }

#yearSlider { display: inline-block; }
#yearTicks { padding:1px; display: inline-block; }


#yearTicks .x.axis line.tick { stroke:#333; stroke-width:.5; }
#yearTicks .x.axis line.tick.minor { stroke:#999; stroke-width:.5; }
#yearTicks path.domain { fill:none; }

#yearTicks .x.axis text { cursor:pointer;  }

#play { 
 margin-left:0;
 float:left;
 cursor:pointer;
 padding:4px; display: inline-block;
 }

#yearText {  fill:#ccc;  font-weight:bold; }



