#yearSliderOuter {
  margin: 0 auto;
  display:none;
 vertical-align: top;
}

#yearSliderInner { float:left;}

#yearSlider { display: inline-block; }
#yearTicks { padding:1px; display: inline-block; }


#yearTicks .x.axis line.tick { stroke:#333; stroke-width:.5; }
#yearTicks .x.axis line.tick.minor { stroke:#999; stroke-width:.5; }
#yearTicks path.domain { fill:none; }

#yearTicks .x.axis text { cursor:pointer;  }

#play { 
 margin-left:0;
 float:left;
 cursor:pointer;
 }

#chart {

}

#yearText {  fill:#ccc;  font-weight:bold; }


#play { padding:4px; display: inline-block;}

.tipsy { font-size:9pt !important; }
.tipsy .sm { font-size:8pt;}
.tipsy-inner { background-color:#333; }
.tipsy-arrow { border-color:#333; }

.nodeLabel { cursor:default;}


g.flows line { stroke-linecap:round; }


g.bubble circle { stroke:#ccc; stroke-width:1; }
g.bubble circle.selected { stroke:#FEE090; stroke-width:2;}

line.in { stroke:#da969f; }
line.in:hover { stroke:rgb(255, 174, 174); }

line.out { stroke:#a1c0de; }
line.out:hover { stroke:#bbdeff; }


#tseries .line { fill: none; stroke-width: 1.5px; }
#tseries .in .line { stroke: #a1c0de; }
#tseries .out .line { stroke: #da969f; }

#tseries circle.selAttrValue  { stroke-width:1.5; stroke:white; }
#tseries .in circle.selAttrValue  { fill:#a1c0de; }
#tseries .out circle.selAttrValue  { fill:#da969f; }

circle.rin { fill:#B2182B; }

circle.rout { fill:#2166AC;}

#tseries rect.background {
  fill:black;
  stroke:#aaa;
  stroke-width:1;
  opacity:1.0;
}

#tseries .axis path {
  fill: none;
  shape-rendering: crispEdges;
}


#tseries .y.axis line, #tseries .y.axis path {
  stroke:#333;
  stroke-width:1;
}

#tseries .x.axis line {
  stroke-width:1;
  stroke:#ccc;
}

#tseries .axis text {
  font-size:9px;
  fill:white;
}
