#purposeBars {
	text-align: right;
	position:absolute;
	right:5px; top:40px;
	height: auto;
	background-color:rgba(255,255,255,0.7);
	padding:10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
}
#purposeBars .breadcrumb { text-align:left; max-width: 500px; }
#purposeBars .breadcrumb li.node { }
#purposeBars .breadcrumb li.node.sel {   }
#purposeBars svg {  }
#purposeBars svg text.barLabel { font-size:10px; fill:gray;}