#error { display:none;}
#bubblesChart {
text-align:center;
}






#purposeBars {
	height: auto;
  position: fixed;
  right:10px;
  margin-top:0;

	background-color:rgba(255,255,255,0.7);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 

  padding:0;

  text-align: right;
  
}
#purposeBars .breadcrumb { text-align:left;  margin-top: 0; }
#purposeBars .breadcrumb .caption { float:right;}
#purposeBars .breadcrumb li.node { }
#purposeBars .breadcrumb li.node.sel {   }
#purposeBars svg {  }
#purposeBars svg text.barLabel { font-size:10px; fill:gray; }

#leftSidebar {
  position: fixed; 
  left:0;
}
#timeSlider {
  width:255px;
  margin-left:11px;
}

#tseriesPanel { 
  overflow-y: auto;
  overflow-x: hidden;
  padding-right:15px;
  height: auto;
  background-color:rgba(255,255,255,0.5);
  padding:5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
}


.tseries .pi_0 .line { stroke: #B2182B; opacity:.5; }
.tseries .pi_1 .line { stroke: #2166AC; opacity:.5;}

.tseries .dot  { stroke-width:0.5; fill:#fff; }
.tseries .pi_0 .dot  { stroke:#B2182B; }
.tseries .pi_1 .dot  { stroke:#2166AC; }


#yearSliderOuter {
  margin: 0 auto;
  display:none;
  vertical-align: top;
  height:35px;
  background-color:#eee; 
  border:1px solid #ddd;
  padding:15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#yearSliderInner { float:left; height:40px; }

#yearSlider { display: inline-block; }
#yearTicks { padding:1px; display: inline-block; }


#yearTicks .x.axis line.tick { stroke:#333; stroke-width:.5; }
#yearTicks .x.axis line.tick.minor { stroke:#999; stroke-width:.5; }
#yearTicks path.domain { fill:none; }

#yearTicks .x.axis text { cursor:pointer;  }

#play { 
 margin-left:0;
 float:left;
 cursor:pointer;
 padding:4px; display: inline-block;
 }

#yearText {  fill:#ccc;  font-weight:bold; }



