#loading { position:absolute; top:60px; left:20px; }
#loading .blockUI { 
  position:absolute; top:0; left:0; right:0; bottom:0; background-color:white; 
  opacity:0; z-index:99;
  text-align: center;
  vertical-align: middle;
}

#horizonParent {
text-align: center;
margin: 0px auto;
position: relative;
}

#donorsChart {
  left:120px;  
}

#recipientsChart {
  left:560px;  
}

#purposesChart {
  left:1000px;  
}

.horizonChart {
  position: fixed;
  vertical-align: top;
  margin:0px;  
  margin-top:20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display:inline-block;
  padding:0;
  height:70%; margin:auto;
  width: 410px;
}

.horizonChart .controls {
  padding:10px 0px 0px 5px;
}


.horizon {
/*border-bottom: solid 1px #999;*/
border-bottom: solid 1px #ccc;
position: relative;
padding-left:60px;
}

/*.horizon:hover {
outline:1px solid blue;
outline-offset: -1px;
border-bottom: solid 1px white;
}
*/
.horizon:first-of-type { border-top: none; }

.horizon canvas {
display: block;
margin:0;
}

.horizonChart  .line.rule {
display:none;
background: black;
opacity: 0.4;
z-index: 2;
}

.horizonChart  .viewTitle {
  font: bold 22px sans-serif;
  /*position: fixed;*/
  padding:0px 0px 10px 0px;
  width:inherit;
  text-align:center;
  z-index:4;
  background-color:white;
  height:25px;
  width: 410px;
}

.bands {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;

/*  position: relative;
  top:-25px;
*/  overflow-y:scroll;
  overflow-x:hidden;
  height:100%; margin:auto;
/*  padding-top:20px;
*/  
  width:410px;
  padding-right:20px;
}

.horizon label { display:inline; font-size:11px; }

/*.horizon label:hover { text-decoration: underline; color:blue; }*/

.horizon .item {
left:0px;
font-size: 8pt;
bottom: 0;
line-height: 20px;
vertical-align: middle;
position: absolute;
margin:0 6px;
text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
white-space: nowrap;
}

.horizon .item input {
  margin-right:3px;
}


.horizonChart .legend {
  top:115px; left:5px;
  background-color: white;
  z-index: 1000;
  position: fixed;
  padding:3px;
  border:1px solid #cccccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
}

.horizonChart .legend text {
font-size:7pt;
}




.axis {
   padding-left:43px;
  font: 10px sans-serif;
  /*position: fixed; */
  pointer-events: none;
  z-index: 30;
}

.axis.top { margin-top:0px; }

.axis text {
  font-size:9px;
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
/*  padding: 0 0 14px 0;
*/}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  bottom: 0px;
  padding: 34px 0 0 0;
}

#tooltip {
  font-size:12px;
  font-family:"Helvetica Neue", Helvetica, arial;
  position:absolute;
  padding:5px;
  z-index:100000;
}

#tooltip div {
  background-color:#000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  color:#fff;
  color:#fff;
  padding:5px 8px 4px 8px;
  text-align:left;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
