.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 95% !important;
}


.navbar-inner { background-color:#172136;}

.navbar-inner {
  background-color: #172136;
  background-image: -moz-linear-gradient(top, #163057, #172136);
  background-image: -ms-linear-gradient(top, #163057, #172136);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#163057), to(#172136));
  background-image: -webkit-linear-gradient(top, #163057, #172136);
  background-image: -o-linear-gradient(top, #163057, #172136);
  background-image: linear-gradient(top, #163057, #172136);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#163057', endColorstr='#172136', GradientType=0);
}

.navbar .nav > li > a {
  color:#bbb;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
background-color: #172136;
}

.navbar .brand { font-weight:400; }



/** Added for browser-check **/

#warning {
  background-color:#fff;
  position: absolute;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 20px;
}

#warning {
  width:300px;
  left:20px;
  z-index:10;
  padding:20px;
}

#warning h2 {
  margin-top:0;
}

#warning .close {
  display:none;
  position:absolute;
  top:5px;
  right:10px;
  cursor:pointer;
  font-size:12px;
}

#warning:hover .close {
  display:block;
}

#warning h2 {
  font-size:19px;
  color:#E00;
  font-weight:bold;
  text-align:left;
}

#warning p {
  font-size:15px;
  margin:0;
}