
.barHierarchy text.label {
  font-size: 11px;
  cursor:pointer;
  font-weight: normal;
}

.barHierarchy text.label.hasChildren {
}

.barHierarchy rect.background {
  fill: white;
}

.barHierarchy .axis {
  shape-rendering: crispEdges;
}

.barHierarchy .axis text { font-size:11px;}

.barHierarchy .axis path, .axis line {
  fill: none;
  stroke: #999;
}

.barHierarchy rect.bar {
  fill:#a1c0de;
}
.barHierarchy rect.bar.hasChildren {
  fill:#a1c0de;
  stroke-width:1;
  stroke:#999;
}
.barHierarchy rect.bar:hover {
  stroke:#B2182B; 
  cursor:pointer;
}


.barHierarchy .breadcrumb { font-size:11px; padding:.2em 0; margin:0 0 5px 0; }
.barHierarchy .breadcrumb ul { padding:0; margin:0; display:inline; }
.barHierarchy .breadcrumb li.title { margin-right:.5em; }

.barHierarchy .breadcrumb a { text-decoration: underline; }
.barHierarchy .breadcrumb a.sel { color:#333; text-decoration:none; cursor:default;}

.barHierarchy .caption { padding:0; display:inline; border:1px; }
.barHierarchy .caption div.title { display:inline; font-size:11px; }
.barHierarchy .caption div.total { display:inline; margin-left:15px; font-size:10px; color:#999; }