body {
  margin:0;
}

#purposePack {
  font: 400 36px "Helvetica Neue", Helvetica, arial;
  position:absolute;
  top:0px; left:0px;
  margin:0;
}


.selectedDate {  font-size:60pt; color:#ccc;  font-weight:bold;  position:absolute; right:20px; top:100px;}

a:link, a:visited {
  color: #E00;
  text-decoration: none;
}

a:hover {
  color: #666;
}






#purposePack text {
  fill: black;
  text-shadow:0 0 3px steelblue;
  font-weight:bold;
  font-size:11px;
  dy:.35em;
  pointer-events: none;
}

#purposePack circle {
  fill:#000;
  fill-opacity: .05;
  stroke: #fff;
  stroke-width: 1px;
  pointer-events: all;
}

#purposePack circle.parent {
  stroke: #fff;
}

#purposePack circle:hover {
  stroke: steelblue;
  stroke-width: 2px;
}

