text {
  font-size: 10px;
}

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #999;
}

#purposeBars rect.bar {
  fill:#a1c0de;
}
#purposeBars rect.bar.hasChildren {
  fill:#a1c0de;
  stroke-width:0.5;
  stroke:black;
}
#purposeBars rect.bar.hasChildren:hover {
  stroke:#B2182B; 

}