body {
  margin:0;
}

#purposePack {
  font: 400 36px "Helvetica Neue", Helvetica, arial;
  position:absolute;
  top:0px; left:0px;
  margin:0;
}


.selectedDate {  font-size:60pt; color:#ccc;  font-weight:bold;  position:absolute; right:20px; top:100px;}

a:link, a:visited {
  color: #E00;
  text-decoration: none;
}

a:hover {
  color: #666;
}




#tooltip {
  font-size:12px;
  font-family:"Helvetica Neue", Helvetica, arial;
  position:absolute;
  padding:5px;
  z-index:100000;
}

#tooltip div {
  background-color:#000;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=7);
  color:#fff;
  color:#fff;
  padding:5px 8px 4px 8px;
  text-align:left;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}



#purposePack text {
  fill: black;
  text-shadow:0 0 3px steelblue;
  font-weight:bold;
  font-size:11px;
  dy:.35em;
  pointer-events: none;
}

#purposePack circle {
  fill:#000;
  fill-opacity: .05;
  stroke: #fff;
  stroke-width: 1px;
  pointer-events: all;
}

#purposePack circle.parent {
  stroke: #fff;
}

#purposePack circle:hover {
  stroke: steelblue;
  stroke-width: 2px;
}

