
.barHierarchy text.barLabel {
  font-size: 11px;
  cursor:pointer;
}

.barHierarchy text.barLabel.hasChildren {
}

.barHierarchy rect.background {
  fill: white;
}

.barHierarchy .axis {
  shape-rendering: crispEdges;
}

.barHierarchy .axis text { font-size:11px;}

.barHierarchy .axis path, .axis line {
  fill: none;
  stroke: #999;
}

.barHierarchy rect.bar {
  fill:#a1c0de;
  stroke-width:0.3;
  stroke:black;
}
.barHierarchy text.hasChildren {
  font-weight: bold
}
.barHierarchy rect.bar.hasChildren {
  fill:#a1c0de;
}
.barHierarchy rect.bar:hover {
  stroke:#B2182B; 
  cursor:pointer;
}


.barHierarchy .breadcrumb { font-size:11px; padding:.2em .7em; margin:0 0 5px 0; }
.barHierarchy .breadcrumb ul { padding:0; margin:0; display:inline; }
.barHierarchy .breadcrumb li.title { margin-right:.5em; }

.barHierarchy .breadcrumb a { text-decoration: underline; }
.barHierarchy .breadcrumb li.sel a { color:#333; text-decoration:none; font-weight:bold; cursor:default;}

.barHierarchy .caption { padding:0; display:inline; border:1px; }
.barHierarchy .caption div.title { display:inline; font-size:11px; }
.barHierarchy .caption div.total { white-space: nowrap;  display:inline; margin-left:15px; font-size:10px; color:#999; }