.barHierarchy text.barLabel {
  font-size: 11px;
  cursor:pointer;
  fill:#666;
}

.barHierarchy .barg.highlight text.barLabel.selectable {
  text-shadow: 0 0 0.1em red;
}

.barHierarchy svg { margin-top:1em; } 

.barHierarchy text.barLabel.selectable {
}

.barHierarchy rect.background {
  fill: white;
}

.barHierarchy .axis {
  shape-rendering: crispEdges;
}

.barHierarchy .axis text { font-size:11px; }

.barHierarchy .axis path, .axis line {
  fill: none;
  stroke: #999;
}

.barHierarchy rect.bar {
  fill:steelblue;
  stroke-width:0.3;
  stroke:black;
}
.barHierarchy text.selectable {
  font-weight: bold
}
.barHierarchy rect.bar.selectable {
  fill:steelblue;
}
.barHierarchy .barg.highlight rect.bar {
  stroke:#B2182B; 
  cursor:pointer;
}


.barHierarchy .breadcrumb { width:460px; font-size:11px; padding:.2em .7em; margin:0 0 0 0; text-align:left; }
.barHierarchy .breadcrumb ul { padding:0; margin:0; display:inline; }
.barHierarchy .breadcrumb li.title { margin-right:.5em; }

.barHierarchy .breadcrumb a { text-decoration: underline; }
.barHierarchy .breadcrumb li.sel a { color:#333; text-decoration:none; font-weight:bold; cursor:default;}

.barHierarchy .caption { position:fixed; margin:3px 0 0 0; padding:0; text-align:left; border:1px; 
}
.barHierarchy .caption div.title { display:inline; font-size:11px; }
.barHierarchy .caption div.total { color:#aaa;  white-space: nowrap;  display:inline; margin-left:1em; font-size:10px; }