.tipsy { font-size:9pt !important; }
.tipsy .sm { font-size:8pt;}
.tipsy-inner { background-color:#333; }
.tipsy-arrow { border-color:#333; }

.nodeLabel { cursor:default;}



g.flows line { stroke-linecap:round; }


g.bubble circle { stroke:#ccc; stroke-width:1; }
/*g.bubble circle:hover { stroke:#fff; }*/
g.bubble circle.selected { stroke:#FEE090; stroke-width:2;}

g.bubble circle.rin { fill:#B2182B; opacity:.5; }
g.bubble circle.rout { fill:#2166AC; opacity:.5; }
g.bubble.highlighted  circle.rin { fill:#f2586B; }
g.bubble.highlighted  circle.rout { fill:#61a6eC; }

line.in { stroke:#da969f; }
line.in:hover { stroke:rgb(255, 174, 174); }

line.out { stroke:#a1c0de; }
line.out:hover { stroke:#bbdeff; }

