.timeSlider { 
  padding: 0 20px 10px 20px;
  background: white;
    -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  border:1px solid #ccc;
 }

.timeSlider {
  white-space: nowrap;
}

.timeSlider .caption, .timeSlider .prev, .timeSlider .next {
  color:#aaa; 
  font-weight:bold; 
  text-align:center; 
  text-shadow: 0 0 0.05em #000;
  display: inline-block;
  margin-top:3px;
}

.timeSlider .prev, .timeSlider .next {
  font-size:30px; line-height: 65px; vertical-align: top;
  cursor: pointer;
  opacity: 0.2;
  background-color: #f7f7f7;
}

.timeSlider .prev:hover, .timeSlider .next:hover {  opacity:1; }

.timeSlider .prev { padding-right:9px; padding-left:6px; margin-right: 2px; }
.timeSlider .next { padding-left:9px; padding-right: 6px; margin-left: 2px; }

.timeSlider .caption {
  font-size:65px; line-height:65px;
  padding-bottom: 5px; 
}


.timeSlider .range { 
  background: #eee;
  border:1px solid #ccc; 
  cursor:ew-resize;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; 
  padding:0; margin:0;
}

.timeSlider .handle { 
  background: #999; 
  /*border-left:solid 1px #bbb; border-right:solid 1px #bbb; */
  cursor:ew-resize; 
  position: absolute;
  padding:0; margin:0;
  /*margin-top:-1px; border-bottom:solid 2px #999; */
}